<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gxu.sdqrps.dao.detailMapper">
    <select id="getById" resultType="detail">
        select * from details
        where content_id = #{contentId} and user_id = #{userId} and
        quality_contriol_id = #{qualityControlId}
    </select>

    <update id="updateValues">
        update details set
                                       target = #{target},
                                       standard = #{standard},
                                       pre_warning_value = #{preWarningValue}
        where content_id = #{contentId} and user_id = #{userId} and
            quality_control_id = #{qualityControlId}
    </update>
    <update id="updateTarget">
        update details set
            target = #{target}
        where content_id = #{contentId} and user_id = #{userId} and
            quality_control_id = #{qualityControlId}
    </update>

    <update id="updateStandard">
        update details set
            standard = #{standard}
        where content_id = #{contentId} and user_id = #{userId} and
            quality_control_id = #{qualityControlId}
    </update>

    <update id="updatePreWarning">
        update details set
            pre_warning_value = #{preWarningValue}
        where content_id = #{contentId} and user_id = #{userId} and
            quality_control_id = #{qualityControlId}
    </update>

    <select id="listByUserId" resultType="IdeologyAndEthics">
        select * from details
        where user_id = #{userId}
    </select>
</mapper>