<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生发展质量体系评估与预警系统</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- echarts -->
    <!--    <script src="https://cdn.jsdelivr.net/npm/echarts@4.6.0/echarts.all.js"></script>-->
    <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts.js"></script>
    <style>
        .el-header {
            background-color: #303133;
            color: #333;
        }

        .el-aside {
            color: #606266;
        }

        .el-main {
            color: #333;
            margin: 0;
            padding: 0;

        }

        body > .el-container {
            margin-bottom: 40px;
        }

        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }

        .el-dropdown-link {
            cursor: pointer;
            color: #409EFF;
        }

    </style>
</head>
<body>
<div id="admin">
    <el-container>
        <el-header>
            <el-link :underline="false">
                <h1 style="color: snow">学生质量体系评估与预警系统</h1>
            </el-link>

            <div style="float:right;padding-top: 10px">
                <el-dropdown trigger="click">
                    <el-avatar class="el-dropdown-link">
                        {{userDes}}
                    </el-avatar>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item @click.native="logOut"><i class="el-icon-circle-close"></i>退出
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>

            </div>
        </el-header>
        <el-container style="height: 600px; border: 1px solid #eee">
            <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
                <el-menu>
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-more"></i>
                            <span>各学院质控点情况</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item v-for="menu in menus" :key="menu.userId" @click="addTab(menu.userId)">
                                {{menu.description}}
                            </el-menu-item>
                            <el-menu-item @click="addTab(45)">学院比较</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>

                    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-more"></i>
                            <span>质控点年度情况</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item v-for="menu in menus" :key="menu.userId">
                                {{menu.description}}
                            </el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>

                </el-menu>

            </el-aside>

            <el-container>
                <el-main>
                    <el-tabs v-model="editableTabsValue" type="card" closable @tab-remove="removeTab">


                        <el-tab-pane :key="item.name"
                                     v-for="item in editableTabs"
                                     :label="item.title"
                                     :name="item.name"
                        >
                            <!-- 表示这是一个普通显示表格信息的tab -->
                            <template v-if="item.type === 1">
                                <el-table :data="[item.content]">
                                    <el-table-column
                                            prop="description"
                                            label="描述"
                                            width="180">
                                    </el-table-column>
                                    <el-table-column
                                            prop="preWarningNum"
                                            label="预警质控数"
                                            width="180">
                                    </el-table-column>
                                    <el-table-column
                                            prop="normalNum"
                                            label="正常质控数"
                                            width="180">
                                    </el-table-column>
                                    <el-table-column
                                            prop="totalNum"
                                            label="质控总数"
                                            width="180">
                                    </el-table-column>
                                </el-table>
                            </template>
                            <!-- type === 0 表示这个tab是一个欢迎页，显示欢迎页的内容 -->
                            <template v-else-if="item.type === 0">
                                <span>{{item.content}}</span>
                            </template>
                            <!-- type === 2 表示这个tab这是一个图表页，显示图表内容-->
                            <div v-if="item.type === 2" id="mychart" style="width: 1000px;height:500px;"></div>


                        </el-tab-pane>
                    </el-tabs>
                </el-main>
            </el-container>
        </el-container>

    </el-container>

</div>
<script>
    var admin = new Vue({
        el: '#admin',
        data: {
            menus: [],
            userDes: '',
            editableTabs: [{title: '欢迎页', name: '0', content: '欢迎登陆学校管理界面', type: 0}],
            editableTabsValue: '0'
        },
        methods: {
            logOut: function () {
                axios.get('/sdqrps/logout').then(response => {
                    if (response.data === 'success')
                        window.location.href = '/sdqrps'
                });
            },
            addTab: function (userId) {
                if (userId != 45) { //谐音"是我"
                    var contain = false;
                    admin.editableTabs.forEach((item) => {
                        if (item.name === userId + '')
                            contain = true;
                    });
                    axios.get('/sdqrps/getSchoolStatistics/' + userId).then(
                        (response) => {
                            if (response.data.code === 800) {
                                if (!contain) {
                                    var tab = {
                                        title: response.data.info.description,
                                        name: userId + '',
                                        content: response.data.info,
                                        type: 1
                                    };
                                    admin.editableTabs.push(tab);
                                    admin.editableTabsValue = userId + '';
                                } else {
                                    var item = admin.editableTabs.find((item) => item.name === userId + '');
                                    item.content = response.data.info;
                                    admin.editableTabsValue = userId + '';
                                }
                            }

                        }
                    );
                } else {
                    //进入到图表的绘制
                    var ifChart = false;
                    //看是否存在图表tab
                    admin.editableTabs.forEach((item) => {
                        if (item.name === 'chart') {
                            ifChart = true;
                        }
                    });
                    //如果没有tabs里面没有图表tab就加入里面去
                    if (!ifChart) {

                        var tab = {
                            title: '各学院对比柱状图',
                            name: 'chart',
                            content: {},
                            type: 2
                        };

                        admin.editableTabs.push(tab);
                        admin.editableTabsValue = 'chart';

                    }


                        admin.$nextTick(function () {
                            axios.get("/sdqrps/getAllStatistics").then((response) => {
                                if (response.data.code === 900) {
                                    option.dataset.source = response.data.info;
                                    if(!ifChart) {
                                        myChart = echarts.init(document.getElementById('mychart'));
                                    }
                                    myChart.setOption(option);
                                }
                            });

                        });
                }
            },
            removeTab: function (targetName) {
                let tabs = admin.editableTabs;
                let activeName = admin.editableTabsValue;
                if (activeName === targetName) {
                    tabs.forEach((tab, index) => {
                        if (tab.name === targetName) {
                            let nextTab = tabs[index + 1] || tabs[index - 1];
                            if (nextTab) {
                                activeName = nextTab.name;
                            }
                        }
                    });
                }
                admin.editableTabsValue = activeName;
                admin.editableTabs = tabs.filter(tab => tab.name !== targetName);
            }
        }


    });

    axios.get("/sdqrps/getMenus").then((response) => {
        if (response.data.code === 700)
            admin.menus = response.data.info;
    });

    axios.get('/sdqrps/getUserDes').then(response => {
        admin.userDes = response.data.info;
    });
    var myChart;
    var option = {
        legend: {},
        tooltip: {},
        dataset: {
            dimensions: ['description', 'preWarningNum', 'normalNum', 'totalNum'],
            source: []
        },
        xAxis: {type: 'category'},
        yAxis: {},

        series: [
            {type: 'bar'},
            {type: 'bar'},
            {type: 'bar'}
        ]
    };
</script>

</body>
</html>